</div>
</body>

<body>
    
    <div class="container">
        
        <div class="row">
            <div class="col-2">
                <p>©Copyright 2022. <br> All rights resrved. Powered by Group 9.</p>
            </div>
        </div>
    </div>

</body>
</html>