<!DOCTYPE html>
<html lang="en">
    <body>
        <%if(isAdmin == null) {%>
            <%- include('./_header') %>
        <%}
        if(isAdmin == 1) {%>
            <%- include('./_adminheader') %>
        <%}
        if(isAdmin == 0) {%>
            <%- include('./_userheader') %>
        <%}%>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <h1>Contact </h1>
                    <p>We do not have anyone on call right now, 
                        Please be patient as we get this sorted out. 
                        Thank You!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Forgot Password? </h1>
                    <p>Email: contantsupport@sweatshop.com</p>
                </div>
            </div>
        </div>
    </body>
</html>