<!DOCTYPE html>
<% include _header.ejs %>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="loginCSS.css">
</head>


<body>
<form method="post" action="/Login?handler=Login">
    <div class="form-row">
        <input type="text" name="username" placeholder="Username" required="">
    </div>
    <div class="form-row">
        <input type="password" name="password" placeholder="Password" required="">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8MjrWCEO5XFGvLc32d5SexxjYkkKpkD1BZPahOOy52Ri2QxwQxfPKRZqICVlYuJ9RPbYmPmDx8Nrtc_QJI6epOxO7QOfCz3oqV9Hs72lxM1VPehGWw9DAlQqLDGP4_ly5K78WEeHr3o0GAV5PCbpjCU"></form>
        </main>
    </div>
</body>
<% include _footer.ejs %>
</html>
