<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <form action='/login' method="post">
      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
          <% if(message.length > 0) { %>
            <div class = "alert" role = "alert">
                <%= message %>
            </div>
          <%} %>
          <button type="submit">Login</button>
          <label for="check">
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>

          <h4>Dont have an account yet? <a href="/signup">Signup here</a></h4>

          <span class="psw">Forgot <a href="#">password?</a></span>
          <div>
            <span class="GoBack"><a href='/'>Go Back</a></span>
          </div>
        </div>

      </form>
    
</body>
</html>